h1 {
  font-size: 15px; }

h2 {
  font-size: 30px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto'; }

/*CARDS*/
.cardcenter {
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: center; }

.cardcenter__item {
  padding: 10px;
  margin: 5px; }

.cardflexrow {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;
  padding: 0px;
  margin: 0;
  flex-wrap: wrap; }

.cardflexrow--transicion {
  width: 200px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 1px 5px 15px grey;
  text-align: center;
  margin: 0; }
  .cardflexrow--transicion img {
    width: 200px;
    border-radius: 20px;
    transition: all 0.5s ease; }

@media (max-width: 439px) {
  .item3, .item1, .item2, .item4, .item4 {
    flex-direction: column; }
  .item3, .item1, .item2, .item4, .item4 {
    margin-right: 0;
    margin-bottom: 40px; } }

@media (max-width: 599px) {
  .item3 .item1 {
    flex-direction: column; }
  .item3, .item1 {
    margin-right: 0;
    margin-bottom: 40px; } }

@media (max-width: 1081px) {
  .item3 {
    flex-direction: column; }
  .item3 {
    margin-right: 0;
    margin-bottom: 40px; } }

/*HOVER*/
.cardflexrow--transicion:hover {
  box-shadow: 1px 10px 20px grey; }
  .cardflexrow--transicion:hover img {
    transform: scale(1.1);
    border-radius: 20px; }

/*BLOQUE NOTICIAS*/
.blocknoticias img {
  height: 600px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  transition: all 0.5s ease; }

.blocknoticias--gold {
  background: radial-gradient(#914920 50%, #853e14 100%); }

.blocknoticias--red {
  background: radial-gradient(#aa2323 50%, maroon 100%); }

.blocknoticias--snow {
  background: radial-gradient(#3131a5 50%, midnightblue 100%); }

.blocknoticias__transicion {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 15px; }
  .blocknoticias__transicion h4 {
    font-weight: bold;
    font-size: 32px;
    margin: 0 0 20px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.2s ease-out 0.1s; }
  .blocknoticias__transicion p {
    margin: 0 0 50px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.2s; }

.blocknoticias:hover .blocknoticias__transicion h4 {
  transform: translateY(0);
  opacity: 1; }

.blocknoticias:hover .blocknoticias__transicion p {
  transform: translateY(0);
  opacity: 1; }

.blocknoticias:hover img {
  transform: scale(1.1);
  opacity: 0.3; }

/*CONTINERS*/
.containerMobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nav" "noticias" "tseries"   "useries" "trailers" "footer"; }

.containerMobile .header {
  grid-area: header; }

.containerMobile .nav {
  grid-area: nav; }

.containerMobile .useries {
  grid-area: useries; }

.containerMobile .tseries {
  grid-area: tseries; }

.containerMobile .trailers {
  grid-area: trailers; }

.containerMobile .footer {
  grid-area: footer; }

/*RESPONSIVE*/
@media only screen and (min-width: 320px) {
  .containerMobile {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    grid-gap: 1rem;
    grid-template-areas: "nav nav"   "noticias noticias" "tseries tseries" "useries useries" "trailers trailers" "footer footer"; }
  .containerMobile .header {
    grid-area: header; }
  .containerMobile .nav {
    grid-area: nav; }
  .containerMobile .useries {
    grid-area: useries; }
  .containerMobile .tseries {
    grid-area: tseries; }
  .containerMobile .trailers {
    grid-area: trailers; }
  .containerMobile .footer {
    grid-area: footer; } }

@media only screen and (min-width: 1024px) {
  #grilla {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav" "noticias noticias noticias" "tseries tseries tseries" "useries useries useries" "trailers trailers trailers" "footer footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 0;
    height: 100vh; } }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

section#useries {
  grid-area: useries;
  margin: 10px; }

section#noticias {
  grid-area: noticias;
  margin: 0; }

section#tseries {
  grid-area: tseries;
  margin: 0; }

section#trailers {
  grid-area: trailers;
  margin: 0; }

nav {
  grid-area: nav; }

/*TIPOGRAFIA*/
h1 {
  color: red;
  font-size: 40px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.titulos--1 h2 {
  color: white;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
  margin: 20px;
  animation-duration: 1s;
  animation-name: bordeado; }

@keyframes bordeado {
  0% {
    border-radius: 5px; }
  100% {
    border-radius: 20px; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.negrita {
  font-weight: bold; }

.table__color th {
  color: salmon; }

.body__tipo--1 {
  font-family: 'Roboto';
  background-color: white;
  border-radius: 20px; }

.body__tipo--2 {
  font-family: 'Roboto';
  background-color: brown;
  color: cornsilk;
  border-radius: 20px; }

.form__tipo {
  font-family: 'Roboto';
  font-size: 20px; }

/*BLOQUE TRAILERS/SECCIONES*/
section {
  margin: 10px;
  display: block; }

.section__align {
  text-align: center;
  margin: 0; }

.section__fit {
  overflow: hidden;
  object-fit: cover;
  position: relative; }

section article {
  background-color: salmon;
  padding: 10px;
  border-radius: 10px; }

/*CONTACTO*/
.contacto {
  max-width: 800px;
  margin: 40px auto;
  background-color: #ffb0b0;
  position: relative;
  box-shadow: 0 10px 20px 0px #ffa0a0;
  border-radius: 2em;
  padding: 30px; }

.contacto .titulo {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #aa2323;
  background: linear-gradient(to right, black 0%, #aa2323 100%);
  background-clip: '';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.contact-form .form-field {
  position: relative;
  margin: 32px 0; }

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #aa2323;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400; }

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px); }

.contact-form .input-text:focus {
  outline: none; }

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out; }

.contact-form .submit-btn {
  display: inline-block;
  border-radius: 1em;
  background-image: linear-gradient(125deg, #aa2323, #d35858);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer; }

/*FOOTER*/
.footer__tipo {
  text-align: center;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: white;
  background-color: brown;
  margin: 10px;
  animation-duration: 3s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#grad {
  background-image: linear-gradient(brown, red); }

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row; }

footer .container .sec {
  margin-right: 30px; }

footer .container .sec.aboutus {
  width: 40%; }

footer .container h4 {
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px; }

footer .container h4:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 70px;
  height: 2px;
  background: #aa2323; }

footer p {
  color: grey; }

.sci {
  margin-top: 20px;
  display: flex;
  padding: 0; }

.sci li {
  list-style: none; }

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px; }

.sci li a:hover {
  background: #aa2323; }

.sci li a .fab {
  color: white;
  font-size: 20px; }

.contactopers {
  width: calc(35% - 60px);
  margin-right: 0 !important; }

.contactopers .info {
  position: relative;
  padding: 0; }

.contactopers .info li {
  display: flex;
  margin-bottom: 16px; }

.contactopers .info li span:nth-child(1) {
  color: white;
  font-size: 20px;
  margin-right: 10px; }

.contactopers .info li span {
  color: grey; }

.contactopers .info li span a {
  color: grey;
  text-decoration: none; }

@media (max-width: 991px) {
  footer {
    padding: 40px; }
  footer .container {
    flex-direction: column; }
  footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px; }
  footer .container .sec.aboutus, .contactopers {
    width: 100%; } }
